In [ ]:
#Stiahnutie datasetu
!pip install wget
import wget
url = 'https://drive.google.com/uc?export=download&id=14xBPfFz-sX1FxN1TCp0wFtXussNn-WID'
wget.download(url, '/test_data.csv')
url = 'https://drive.google.com/uc?export=download&id=1YRj_uz1hyATF6hRB5zudJKQ4vmsWkTNF'
wget.download(url, '/train_data.csv')

#Načítanie datasetu
import pandas as pd
new_header = ['id','id_pasaziera','prezil','pohlavie','vek','cestovne',
              'prva_trieda','druha_trieda','tretia_trieda','velkost_rodiny',
              'zenaty','vydata','slobodny','slobodna','vycestovanie1',
              'vycestovanie2','vycestovanie3']
train = pd.read_csv("/train_data.csv", header=None, skiprows=1, names=new_header)
test = pd.read_csv('/test_data.csv', header=None, skiprows=1, names=new_header)
train.head(20)

Requirement already satisfied: wget in /usr/local/lib/python3.7/dist-packages (3.2)

    id  id_pasaziera  prezil  ...  vycestovanie1  vycestovanie2  vycestovanie3
0    0             1       0  ...              0              0              1
1    1             2       1  ...              1              0              0
2    2             3       1  ...              0              0              1
3    3             4       1  ...              0              0              1
4    4             5       0  ...              0              0              1
5    5             6       0  ...              0              1              0
6    6             7       0  ...              0              0              1
7    7             8       0  ...              0              0              1
8    8             9       1  ...              0              0              1
9    9            10       1  ...              1              0              0
10  10            11       1  ...              0              0              1
11  11            12       1  ...              0              0              1
12  12            13       0  ...              0              0              1
13  13            14       0  ...              0              0              1
14  14            15       0  ...              0              0              1
15  15            16       1  ...              0              0              1
16  16            17       0  ...              0              1              0
17  17            18       1  ...              0              0              1
18  18            19       0  ...              0              0              1
19  19            20       1  ...              1              0              0

[20 rows x 17 columns]

In [ ]:
#Stiahnutie datasetu
!pip install wget
import wget
url = 'https://drive.google.com/file/d/14xBPfFz-sX1FxN1TCp0wFtXussNn-WID/view?usp=sharing'
wget.download(url, '/test_data.csv')
url = 'https://drive.google.com/file/d/1YRj_uz1hyATF6hRB5zudJKQ4vmsWkTNF/view?usp=sharing'
wget.download(url, '/train_data.csv')

#Načítanie datasetu
import pandas as pd
new_header = ['id','id_pasaziera','prezil','pohlavie','vek','cestovne',
              'prva_trieda','druha_trieda','tretia_trieda','velkost_rodiny',
              'zenaty','vydata','slobodny','slobodna','vycestovanie1',
              'vycestovanie2','vycestovanie3']
train = pd.read_csv("/train_data.csv", header=None, skiprows=1, names=new_header)
test = pd.read_csv('/test_data.csv', header=None, skiprows=1, names=new_header)

#Odstránenie nadbytočných dát
train.drop(['id','id_pasaziera'], axis=1)

test.drop(['id','id_pasaziera'], axis=1)

#Rozdelenie dát na tréning a test
atributy = ['pohlavie','vek','cestovne','prva_trieda','druha_trieda',
            'tretia_trieda','velkost_rodiny','zenaty','vydata','slobodny',
            'slobodna','vycestovanie1','vycestovanie2','vycestovanie3']

X_train = train[atributy]
y_train = train.prezil
X_test = test[atributy]
y_test = test.prezil

#Výpis formátu dát
print("Formát dát")
print("Tréningové:",X_train.shape,y_train.shape, " Testovacie:",X_test.shape,y_test.shape)

# Import MLP
from sklearn.neural_network import MLPRegressor

# Vytvorenie modelu
regr = MLPRegressor(random_state=1, max_iter=100)

# Trenovanie modelu
regr.fit(X_train, y_train)

# Predpovedanie hodnôt pre testovacie dáta
y_pred = regr.predict(X_test)

# Vypis presnosti modelu
print("Presnosť modelu: ", regr.score(X_test, y_test))

# Ukazka porovnania predpovedanych a realnych hodnot
y_pred_series = pd.Series(y_pred)
pd.concat([y_test, y_pred_series], axis=1)

Requirement already satisfied: wget in /usr/local/lib/python3.7/dist-packages (3.2)
Formát dát
Tréningové: (792, 14) (792,)  Testovacie: (100, 14) (100,)
Presnosť modelu:  0.5471753618139259

    prezil         0
0        0  0.137464
1        0  0.029192
2        0  0.408138
3        0  0.139315
4        0  0.092934
..     ...       ...
95       0  0.105841
96       1  0.925106
97       0  0.323728
98       1  0.412831
99       0  0.044170

[100 rows x 2 columns]